.shipping{

    @include flex;
    >hr{
        width: 10rem;
        
    }

    .back-btn {
        @include square(2.5rem);
        background-color: $color2;
        color: $color1;
        @include flex;
        position: fixed;
        top: 2rem;
        left: 2rem;
        border: none;
        border-radius: 100%;
        outline: none;
        cursor: pointer;
        @include baseShadow;

        svg {
            transition: 0.3s all;
        }

        &:hover svg{
            translate: -0.25rem;
        }
    }

    >form {
        max-width: 500px;
        width: 100%;
        @include flex(column, center, stretch, 2rem);
        padding: 2rem;
        margin-top: 2rem;
        border-radius: 10px;
        @include baseShadow;
        margin-bottom: 5rem;

        > h1{
            @include heading(2px);
            margin: 2rem;
            text-align: center;
        }

        > input, > select {
            border: 1px solid rgba(31,31,31,0.351);
            padding: 1rem;
            outline: none;
            font-size: 1.05rem;
            border-radius: 5px;
        }

        > button{
            @include btn(1rem,$color3, $color1);
            border-radius: 5px;
            font-size: 1.05rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            &:hover{
                opacity: 0.8;
            }
        }
    }
}